<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>

  <servlet-mapping>
    <servlet-name>GetStartPageServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStartPageServlet</servlet-name>
    <servlet-class>servlet.GetIndexPageServlet</servlet-class>
  </servlet>


  <!--Addition racer-->
  <servlet-mapping>
    <servlet-name>AddRacerServlet</servlet-name>
    <url-pattern>/add_racer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddRacerServlet</servlet-name>
    <servlet-class>servlet.AddRacerServlet</servlet-class>
  </servlet>


  <!--Delete racer-->
  <servlet-mapping>
    <servlet-name>DeleteRacerServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteRacerServlet</servlet-name>
    <servlet-class>servlet.DeleteRacerServlet</servlet-class>
  </servlet>


  <!--Update racer-->
  <servlet-mapping>
    <servlet-name>UpdateRacerServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateRacerServlet</servlet-name>
    <servlet-class>servlet.UpdateRacerServlet</servlet-class>
  </servlet>

</web-app>
